/* Styles for use in signs */
.sst_border_quote {
  border: saddlebrown solid 10px;
  border-style: ridge;
  border-radius: 5px; }

.author {
  font-weight: bold;
  font-size: small; }

.sst_sign_text {
  font-size: large;
  font-weight: bolder;
  font-style: oblique; }

/* increase paragraph separation */
p {
  margin-bottom: 1.5rem;
}

/* set photo behind navbar */
.nav-bg-img {
  max-height: 50px;

  /* Center and scale the image nicely */
  background-position: left;
  background-repeat: repeat-x;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.nav-contain {
  position: absolute;
  margin: 20px;
  width: auto;
}
.navbar-item {
  font-size: larger;
  font-width: bold;
  color: black;
}
