<!DOCTYPE html>
<!--
     Route: '/admin/calendar' => manage_calendar
     Template: calendar.jinja2
     Form: manage_calendar_form.py
     Processor: manage_calendar.py
 -->
{% extends 'base/layout.jinja2' %}

{% block content %}
    <section class="container">
        <div class="">
            <form action="{{ url_for('admin_bp.sst_admin_calendar') }}" method="post" enctype="multipart/form-data">
                {% with %}
                    {% set el_name=form.work_function %}
                    {% set el_class="input" %}
                    {% set el_placeholder="" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.file_name %}
                    {% set el_class="input flex-column align-items-start" %}
                    {% set el_placeholder="" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.audiences %}
                    {% set el_class="input flex-column align-items-start" %}
                    {% set el_placeholder="" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.categories %}
                    {% set el_class="input" %}
                    {% set el_placeholder="" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.start_datetime %}
                    {% set el_class="input" %}
                    {% set el_placeholder="" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.end_datetime %}
                    {% set el_class="input" %}
                    {% set el_placeholder="" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.save_file_name %}
                    {% set el_class="file" %}
                    {% set el_placeholder="File name for downloaded file" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                <div class="button">
                    <input id="submit" type="submit" value="Submit">
                </div>
                  {% if form.errors %}
                    <ul class="errors">
                        {% for error, val in form.errors.items() %}
                            {% if val is iterable and val is string %}
                                <li>{{ error }} : {{ val }}</li>
                            {% else %}
                                {% for val_el in val %}
                                     <li>{{ error }} : {{ val_el }}</li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ form.csrf_token }}</form>

        </div>
        <script>
        $ = jQuery;
        $('#js1').change(function(){
            $('.c_csv').parent().hide();
            $('.c_json').parent().hide();
            $('.c_pr').parent().hide();
            $('.c_new').parent().hide();
{#            $('.jdelete').parent().hide();#}
{#            $('.jreload').parent().hide();#}
            let opt = $('#js1 option:selected').val();
            $('.' + opt).parent().show();
        });
        //# sourceURL=calendar.js
        </script>
    </section>
{% endblock %}