<!DOCTYPE html>
<!--
     Route: '/admin/edit' => edit_database_file
     Template: edit.jinja2
     Form: edit_db_content_form.py
     Processor: edit_database_file.py
-->
{% extends 'base/layout.jinja2' %}

{% block content %}
    <section class="container">
        <div class="columns">
            <form action="{{ url_for('admin_bp.sst_admin_edit') }}" method="post">
                {% with %}
                    {% set el_name=form.page_id %}
                    {% set el_class="input" %}
                    {% set el_placeholder="0000" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.page_name %}
                    {% set el_class="input" %}
                    {% set el_placeholder="Page name(e.g., foo-bar-xx)" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.directory %}
                    {% set el_class="input" %}
                    {% set el_placeholder=form.default_directory %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.file_name %}
                    {% set el_class="file" %}
                    {% set el_placeholder="Path name to store data" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.direction %}
                    {% set el_class="input" %}
                    {% set el_placeholder="Transfer from DB to File" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                <div class="button">
                    <input id="submit" type="submit" value="Submit">
                </div>
                {% if form.errors %}
                    <ul class="errors">
                        {% for error, val in form.errors.items() %}
                            {% if val is iterable and val is string %}
                                <li>{{ error }} : {{ val }}</li>
                            {% else %}
                                {% for val_el in val %}
                                     <li>{{ error }} : {{ val_el }}</li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ form.csrf_token }}</form>

        </div>
    </section>
{% endblock %}