<!--
     Route: '/admin/sst_import_page' => import_word_docx
     Template: import_docx.jinja2
     Form: import_docx_form.py
     Processor: import_word_docx.py
-->
{% extends 'base/layout.jinja2' %}

{% block content %}
    <section class="container">
        <div class="">
            <h3>Import MS Word Page to Database</h3>
            <form action="{{ url_for('admin_bp.sst_import_page') }}" method="post"
                  enctype="multipart/form-data">
                {% with %}
                    {% set el_name=form.page_name %}
                    {% set el_class="input" %}
                    {% set el_placeholder="Page name (e.g., foo-bar-xx)" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.author %}
                    {% set el_class="input" %}
                    {% set el_placeholder="Author (to override doc)" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.file_name %}
                    {% set el_class="file" %}
                    {% set el_placeholder="" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.overwrite %}
                    {% set el_class="input" %}
                    {% set el_placeholder="" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                <div class="button">
                    <input id="submit" type="submit" value="Submit">
                </div>

                {% if form.errors %}
                    <ul class="errors">
                        {% for error, val in form.errors.items() %}
                            {% if val is iterable and val is string %}
                                <li>{{ error }} : {{ val }}</li>
                            {% else %}
                                {% for val_el in val %}
                                    <li>{{ error }} : {{ val_el }}</li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ form.csrf_token }}
            </form>
        </div>
        <script>
{#        $ = jQuery;#}
{#        $('#js1').change(function(){#}
{#            $('.c_csv').parent().hide();#}
{#            $('.c_json').parent().hide();#}
{#            $('.c_pr').parent().hide();#}
{#            $('.c_new').parent().hide();#}
{#            $('.jdelete').parent().hide();#}
{#            $('.jreload').parent().hide();#}
{#            let opt = $('#js1 option:selected').val();#}
{#            $('.' + opt).parent().show();#}
{#        });#}
        //# sourceURL=import_word.js



        </script>
    </section>
{% endblock %}