<!DOCTYPE html>
<!-- Route: '/admin/manageTemplate' => make_story_json_template
     Template: json_make_template.jinja2
     Form: db_manage_templates_form.py
     Processor: manage_json_template.py
     Functions:
     ('jcreate', 'Create New JSON DB entry'),
     ('jedit', 'Edit Story JSON'),
     ('jcal', 'Edit Calendar JSON'),
     ('jpage', 'Edit Page JSON'),
     ('jdelete', 'Remove existing JSON entry'),
     ('jreload', 'Reload DB Prototype Templates'),
-->
{% extends 'base/layout.jinja2' %}

{% block content %}
    <section class="container">
        <div class="columns">
            <form action="{{ url_for('admin_bp.make_story_json_template') }}" method="post"
                  enctype="multipart/form-data">

                {#  Work Function          #}
                {% with %}
                    {% set el_name=form.work_function %}
                    {% set el_class="input" %}
                    {% set el_placeholder="" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {#  json_id, json_name  #}
                {% with %}
                    {% set el_name=form.json_id %}
                    {% set el_class="input" %}
                    {% set el_placeholder="" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.json_name %}
                    {% set el_class="input" %}
                    {% set el_placeholder="(e.g., foo-bar-xx)" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {#  template_content, is_prototype, compress[not used    #}
                {% with %}
                    {% set el_name=form.template_content %}
                    {% set el_class="file" %}
                    {% set el_placeholder="" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.is_prototype %}
                    {% set el_class="input" %}
                    {% set el_placeholder="True" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {#  story_template, story_slug, story_author, story_title, snippet_picture_id   #}
                {% with %}
                    {% set el_name=form.story_template %}
                    {% set el_class="input" %}
                    {% set el_placeholder="(e.g., foo-bar-xx)" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.story_slug %}
                    {% set el_class="input" %}
                    {% set el_placeholder="Story Slug(e.g., foo-bar-xx)" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.story_author %}
                    {% set el_class="input" %}
                    {% set el_placeholder="Author" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.story_title %}
                    {% set el_class="input" %}
                    {% set el_placeholder="Story Title" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.snippet_picture_id %}
                    {% set el_class="input" %}
                    {% set el_placeholder="Snippet Photo ID" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {#  cal_template, cal_display_count, cal_width  #}
                {% with %}
                    {% set el_name=form.cal_template %}
                    {% set el_class="input" %}
                    {% set el_placeholder="" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {#                {% with %}#}
                {#                    {% set el_name=form.json_name %}#}
                {#                    {% set el_class="input" %}#}
                {#                    {% set el_placeholder="" %}#}
                {#                    {% include 'base/form_entry.jinja2' %}#}
                {#                {% endwith %}#}

                {% with %}
                    {% set el_name=form.cal_display_count %}
                    {% set el_class="input" %}
                    {% set el_placeholder="" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.cal_width %}
                    {% set el_class="input" %}
                    {% set el_placeholder="" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {#  page_slot, page_template, page_content_template, page_width #}
                {% with %}
                    {% set el_name=form.page_slot %}
                    {% set el_class="input" %}
                    {% set el_placeholder="1" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.page_template %}
                    {% set el_class="input" %}
                    {% set el_placeholder="1" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.page_content_template %}
                    {% set el_class="input" %}
                    {% set el_placeholder="Template DB name" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.page_width %}
                    {% set el_class="input" %}
                    {% set el_placeholder="350" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.toml_file_name %}
                    {% set el_class="input" %}
                    {% set el_placeholder="350" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.toml_overwrite %}
                    {% set el_class="input" %}
                    {% set el_placeholder="350" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.toml_download_name %}
                    {% set el_class="input" %}
                    {% set el_placeholder="350" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                <div class="button">
                    <input id="submit" type="submit" value="Submit">
                </div>
                 {% if form.errors %}
                    <ul class="errors">
                        {% for error, val in form.errors.items() %}
                            {% if val is iterable and val is string %}
                                <li>{{ error }} : {{ val }}</li>
                            {% else %}
                                {% for val_el in val %}
                                     <li>{{ error }} : {{ val_el }}</li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ form.csrf_token }}
            </form>

        </div>
        <script>
        $ = jQuery;
        $('#js1').change(function(){
            $('.jcreate').parent().hide();
            $('.jedit').parent().hide();
            $('.jpage').parent().hide();
            $('.jcal').parent().hide();
            $('.jdelete').parent().hide();
            $('.jreload').parent().hide();
            $('.jtomlup').parent().hide();
            $('.jtomldn').parent().hide();
            let opt = $('#js1 option:selected').val();
            $('.' + opt).parent().show();
            localStorage.setItem('json_make_template', opt);
        });
        $(document).ready(function(){
        let opt_val = localStorage.getItem('json_make_template');
        $('#js1').trigger('change');
        if (opt_val) {$('#js1 option:selected').val(opt_val);}
        else {$('#js1 option:selected').val('jcreate');}
        });

        //# sourceURL=json_make_template.js




        </script>
    </section>
{% endblock %}