<!DOCTYPE html>
<!--
     Route: '/admin/json' => edit_json_file
     Template: json_edit.jinja2
     Form: edit_json_content_form.py
     Processor: edit_json_file.py
-->
{% extends 'base/layout.jinja2' %}

{% block content %}
    <section class="container">
        <div class="columns">
         <h3 class="h3 text-center">Manage Templates in TOML or JSON Format</h3>
            <form action="{{ url_for('admin_bp.up_down_load_json_template') }}" method="post">

                {#  work_function         #}
                {% with %}
                    {% set el_name=form.work_function %}
                    {% set el_class="input" %}
                    {% set el_placeholder="0000" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {#  jdown jup jcsv         #}
                {% with %}
                    {% set el_name=form.json_id %}
                    {% set el_class="input" %}
                    {% set el_placeholder="0000" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {#  jdown jup jcsv         #}
                {% with %}
                    {% set el_name=form.json_name %}
                    {% set el_class="input" %}
                    {% set el_placeholder="JSON template name(e.g., foo-bar-xx)" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {#  jdown jup jcsv - this goes away when save_file fixed         #}
                {% with %}
                    {% set el_name=form.directory %}
                    {% set el_class="file" %}
                    {% set el_placeholder=form.default_directory %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {#  jdown jup jcsv          #}
                {% with %}
                    {% set el_name=form.file_name %}
                    {% set el_class="file" %}
                    {% set el_placeholder='Path name to store data' %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {#  jdown jup jcsv         #}
                {% with %}
                    {% set el_name=form.file_type %}
                    {% set el_class="input" %}
                    {% set el_placeholder='json, csv' %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {#  jup jcsv         #}
                {% with %}
                    {% set el_name=form.is_prototype %}
                    {% set el_class="input" %}
                    {% set el_placeholder='True' %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {#  jup jcsv         #}
                {% with %}
                    {% set el_name=form.compress %}
                    {% set el_class="input" %}
                    {% set el_placeholder='True' %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                <div class="button">
                    <input id="submit" type="submit" value="Submit">
                </div>
                {% if form.errors %}
                    <ul class="errors">
                        {% for error, val in form.errors.items() %}
                            {% if val is iterable and val is string %}
                                <li>{{ error }} : {{ val }}</li>
                            {% else %}
                                {% for val_el in val %}
                                    <li>{{ error }} : {{ val_el }}</li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ form.csrf_token }}
            </form>
        </div>
        <script>
            $ = jQuery;
            $('#js1').change(function () {
                $('.jdown').parent().hide();
                $('.jup').parent().hide();
                $('.jcsv').parent().hide();
                $('.jreset').parent().hide();
                let opt = $('#js1 option:selected').val();
                $('.' + opt).parent().show();
            });
            $(document).ready(function () {

            })
            //# sourceURL=edit_json_file.js
        </script>
    </section>
{% endblock %}