<!DOCTYPE html>
<!--
     Route: '/admin/manage_index_page' => manage_index_pages
     Template: manage_index_pages.jinja2
     Form: manage_index_pages_form.py
     Processor: manage_index_pages.py
-->
{% extends 'base/layout.jinja2' %}

{% block content %}
    <section class="container">
        <div class="">
            <h3>Manage Creation of Index Pages and Index Items</h3>
            <form action="{{ url_for('admin_bp.manage_index_page') }}" method="post">
                {% with %}
                    {% set el_name=form.work_function %}
                    {% set el_class="input" %}
                    {% set el_placeholder="0000" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.page_name %}
                    {% set el_class="input" %}
                    {% set el_placeholder="Page name (e.g., foo-bar-xx)" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                <h4 class="cii">Answer These to Create a New Index Page</h4>
                {% with %}
                    {% set el_name=form.page_title %}
                    {% set el_class="input" %}
                    {% set el_placeholder="Page title" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.page_content %}
                    {% set el_class="input" %}
                    {% set el_placeholder="Page Content (up to 1K chars)" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}


                <h4 class="cip">Answer These to Create a New Index Page Item</h4>
                {% with %}
                    {% set el_name=form.item_name %}
                    {% set el_class="input" %}
                    {% set el_placeholder="Item Name" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.button_name %}
                    {% set el_class="input" %}
                    {% set el_placeholder="Item Name" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.item_content %}
                    {% set el_class="input" %}
                    {% set el_placeholder="Item Content (up to 1K chars)" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.item_sequence_nbr %}
                    {% set el_class="input" %}
                    {% set el_placeholder="Item Sequence Number" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.button_page_name %}
                    {% set el_class="input" %}
                    {% set el_placeholder="Button Page Name" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.button_url_link %}
                    {% set el_class="input" %}
                    {% set el_placeholder="Button URL Link" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                <div class="button">        <!-- Submit -->
                    <input id="submit_item" type="submit" value="Submit">
                </div>                     <!-- End Submit Item -->
                <h4>Page Summary Errors</h4>
                {% if form.errors %}
                    <ul class="errors">
                        {% for error in form.errors.keys() %}
                            {% for specific in form.errors[error] %}
                                <li>{{ error }} : {{ specific }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>                      <!-- End Overall Form Errors -->
                {% endif %}
                {{ form.csrf_token }}
            </form>

        </div>
        <script>
        $ = jQuery;
        $('#js1').change(function(){
            $('.cip').parent().hide();
            $('.aii').parent().hide();
            $('.xx').parent().hide();
{#            $('.c_new').parent().hide();#}
{#            $('.jdelete').parent().hide();#}
{#            $('.jreload').parent().hide();#}
            let opt = $('#js1 option:selected').val();
            $('.' + opt).parent().show();
        });
        //# sourceURL=index_page.js

        </script>
    </section>
{% endblock %}