<!DOCTYPE html>
{% extends 'base/layout.jinja2' %}

{% block content %}
<section class="container">
    <div class="XXX">
        <h3>Miscellaneous Admin Functions</h3>
        <p>Only required parameters for an action are required.</p>
        <form action="{{ url_for('admin_bp.sst_miscellaneous') }}" method="post">
            <div class="input">
                {{ form.work_function.label }}
                {{ form.work_function(placeholder='0000') }}
                {% if form.work_function.errors %}
                <ul class="errors">
                    {% for error in form.work_function.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="input">
                {{ form.page_name.label }}
                {{ form.page_name(placeholder='Page name (e.g., foo-bar-xx)') }}
                {% if form.page_name.errors %}
                <ul class="errors">
                    {% for error in form.page_name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="file">
                {{ form.filename.label }}
                {{ form.filename(placeholder='File to be translated') }}
                {% if form.filename.errors %}
                <ul class="errors">
                    {% for error in form.filename.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="button">
                <input id="submit" type="submit" value="Submit">
            </div>
            {% if form.errors %}
            <ul class="errors">
                {% for error in form.errors.keys() %}
                {% for specific in form.errors[error] %}
                <li>{{ error }} : {{ specific }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
            {% endif %}
            {{ form.csrf_token }}
        </form>

    </div>
</section>
{% endblock %}