<!DOCTYPE html>
<!--
     Route: '/admin/sst_miscellaneous' => miscellaneous_functions
     Template: miscellaneous_functions.jinja2
     Form: manage_photos_form.py
     Processor: upload_photos.py
-->
{% extends 'base/layout.jinja2' %}

{% block content %}
    <section class="container">
        <div class="XXX">
            <h3>Miscellaneous Admin Functions</h3>
            <p>Only required parameters for an action are required.</p>
            <form action="{{ url_for('admin_bp.sst_miscellaneous') }}" method="post">

                {#  Work Function          #}
                {% with %}
                    {% set el_name=form.work_function %}
                    {% set el_class="input" %}
                    {% set el_placeholder="0000" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {#  dpdb show_layout          #}
                {% with %}
                    {% set el_name=form.page_name %}
                    {% set el_class="input" %}
                    {% set el_placeholder="Page name (e.g., foo-bar-xx)" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {#  df        #}
                {% with %}
                    {% set el_name=form.filename %}
                    {% set el_class="file" %}
                    {% set el_placeholder="File to be translated" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {#  show_layout         #}
                {% with %}
                    {% set el_name=form.remove_text %}
                    {% set el_class="input" %}
                    {% set el_placeholder="T/F" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                <div class="button">
                    <input id="submit" type="submit" value="Submit">
                </div>
                {% if form.errors %}
                    <ul class="errors">
                        {% for error, val in form.errors.items() %}
                            {% if val is iterable and val is string %}
                                <li>{{ error }} : {{ val }}</li>
                            {% else %}
                                {% for val_el in val %}
                                    <li>{{ error }} : {{ val_el }}</li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ form.csrf_token }}
            </form>

        </div>
        <script>
            $ = jQuery;
            $('#js1').change(function () {
                $('.dpdb').parent().hide();
                $('.dp').parent().hide();
                $('.df').parent().hide();
                $('.show_layout').parent().hide();
                let opt = $('#js1 option:selected').val();
                $('.' + opt).parent().show();
            });
            //# sourceURL=json_make_template.js


        </script>
    </section>
{% endblock %}