<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <title>{{ tab_title }}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    {% assets "css_bundle" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></link>
    {% endassets %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    {% assets "js_bundle" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}


    {#    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>#}


    {#    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.min.js"></script>#}
    {#    <script type="text/javascript"#}
    {#            src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/theme-monokai.min.js"></script>#}
    {#    <script type="text/javascript"#}
    {#            src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/mode-javascript.min.js"></script>#}
    {#    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>#}
    <script type="text/javascript" src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>

</head>
<body>

<div class="container-fluid text-dark">
    {% include 'base/nav.jinja2' %}
    <section class="container">
        <div class="">
            <style type="text/css" media="screen">
                #editor {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            </style>

            <div id="js_test">function foo(items) {
                var x = "All this is syntax highlighted";
                return x;
                }
            </div>
            {#            <script src="/static/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>#}
            <script>
                {#define(function (require) {#}
                {#    var requirejs = require('requirejs');#}
                {# });#}
                var requirejs = require('requirejs');

                requirejs.config({
                    //Pass the top-level main.js/index.js require
                    //function to requirejs so that node modules
                    //are loaded relative to the top-level JS file.
                    nodeRequire: require
                });

                requirejs(['foo', 'bar'],
                    function (foo, bar) {
                        //foo and bar are loaded according to requirejs
                        //config, but if not found, then node's require
                        //is used to load the module.
                    });

                //# sourceURL=run_js_test.js


            </script>
        </div>
    </section>


</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
