.wrapper {
  display: grid;
  grid-gap: 10px;
  border: red 2px solid;
  grid-template-areas:
    "header"
    "nav"
    "main-content"
    "notice"
    "calendar"
    "footer";
}

.main-head {
  grid-area: header;
  border: rosybrown 2px solid;
}

.main-content {
  grid-area: main-content;
  border: blue 2px solid;
  max-height: 600px;
  overflow-y: auto;

}

.main-content p {
  padding-bottom: 0.5em;
  font-weight: bolder;
}

.main-nav {
  grid-area: nav;
  border: chocolate 2px solid;
}

.calendar {
  grid-area: calendar;
  border: green 2px solid;
  max-height: 350px;
  overflow-y: auto;
}

.notice {
  grid-area: notice;
  border: purple 2px solid;
  max-height: 250px;
  overflow-y: auto;
}
.notice .title {
  font-size: medium;
}

.main-footer {
  grid-area: footer;
  border: yellow 2px solid;
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  nav"
      "notice main-content"
      "calendar main-content"
      "footer   footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header nav  nav"
      "main-content    main-content notice"
      "main-content    main-content calendar"
      "footer footer  footer"
  }
  nav ul {
    flex-direction: column;
  }
}
