<!DOCTYPE html>


{% for event in events %}
    <section class="is-mobile">
        <div class="message-header">{{ event['title'] | safe }}</div>
        <div class="message-body">{{ event['venue'] | safe }}
        <br>{{ event['event_start'] | safe }} : {{ event['event_end'] | safe }}</div>
    </section>
{% endfor %}

