<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.css">
    <!--    {% assets "css_bundle" %}-->
    <!--        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></link>-->
    <!--    {% endassets %}-->

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <!--    {% assets "js_bundle" %}-->
    <!--        <script type="text/javascript" src="{{ ASSET_URL }}"></script>-->
    <!--    {% endassets %}-->

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!--    <script type="text/javascript" src="{{ url_for('static', filename='dist/bundle.js') }}"></script>-->
    <!--    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.js"></script>-->
    <script type="application/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.js"></script>
    <script type="application/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.js"></script>
    <!--    <script type="application/javascript" src="{{ url_for('static', filename='js/my_calendar.js') }}"></script>-->

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
          rel="stylesheet">

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid'],
                header: {
                    left: 'title',
                    center: 'agendaDay,agendaWeek,month',
                    right: 'prev,next today'
                },
                editable: true,
                firstDay: 0, //  1(Monday) this can be changed to 0(Sunday) for the USA system
                selectable: true,
                defaultView: 'dayGridMonth',
                dateClick: function () {
                    alert('a day has been clicked!');
                },
                eventMouseEnter: function (info) {
                    // alert('Event: ' + info.event.title);
                    // alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
                    // alert('View: ' + info.view.type);

                    // change the border color just for fun
                    info.el.style.borderColor = 'red';
                    let tmpnode = document.createElement('div');
                    tmpnode.style.top = info.jsEvent.pageY - 20;
                    tmpnode.style.left = info.jsEvent.pageX + 25;
                    tmpnode.style.backgroundColor = 'red';
                    tmpnode.style.opacity = '100%'
                    tmpnode.setAttribute('class', 'event_popup');

                    let tmpnode2 = document.createElement('div');
                    tmpnode2.setAttribute('class', 'event_desc');
                    tmpnode2.textContent = info.event.extendedProps.description;
                    tmpnode.appendChild(tmpnode2);

                    tmpnode2 = document.createElement('div');
                    tmpnode2.setAttribute('class', 'event_cat');
                    tmpnode2.textContent = info.event.extendedProps.categories;
                    tmpnode.appendChild(tmpnode2);

                    tmpnode2 = document.createElement('div');
                    tmpnode2.setAttribute('class', 'event_aud');
                    tmpnode2.textContent = info.event.extendedProps.audiences;
                    tmpnode.appendChild(tmpnode2);

                    info.el.appendChild(tmpnode);
                },

                eventMouseLeave: function (info) {
                    info.el.lastChild.remove();
                },

                // popup_div.style.position = 'absolute'
                // popup_div.style.display = 'block'
                // popup_div.style.left = myLeft
                // popup_div.style.top = myTop
                // let tmp = tmpNode.getBoundingClientRect()
                // popup_div.style.height = tmp.height + 'px'

                axisFormat: 'h:mm',
                columnFormat: {
                    month: 'ddd',    // Mon
                    week: 'ddd d', // Mon 7
                    day: 'dddd M/D',  // Monday 9/7
                    agendaDay: 'dddd d'
                },
                titleFormat: {
                    month: 'long',
                    year: 'numeric', // September 2009
                    day: 'numeric',
                    weekday: 'long',
                },
                allDaySlot: false,
                selectHelper: true,
                select: function (start, end, allDay) {
                    let title = prompt('Event Title:');
                    if (title) {
                        calendar.fullCalendar('renderEvent',
                            {
                                title: title,
                                start: start,
                                end: end,
                                allDay: allDay
                            },
                            true // make the event "stick"
                        );
                    }
                    calendar.fullCalendar('unselect');
                },
                droppable: true, // this allows things to be dropped onto the calendar !!!
                drop: function (date, allDay) { // this function is called when something is dropped

                    // retrieve the dropped element's stored Event Object
                    var originalEventObject = $(this).data('eventObject');

                    // we need to copy it, so that multiple events don't have a reference to the same object
                    var copiedEventObject = $.extend({}, originalEventObject);

                    // assign it the date that was reported
                    copiedEventObject.start = date;
                    copiedEventObject.allDay = allDay;

                    // render the event on the calendar
                    // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                    $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }

                },
                events: '/admin/events',
                eventsXX: [
                    {
                        title: 'Click for Google',
                        // start: new Date(y, m, 28),
                        // end: new Date(y, m, 29),
                        url: 'https://ccp.cloudaccess.net/aff.php?aff=5188',
                        className: 'success'
                    }
                ],
            });
            calendar.render();
        });
    </script>
</head>
<body>
<div id='wrap'>

    <div id='calendar'></div>

    <div style='clear:both'></div>
</div>
</body>
</html>
