<!DOCTYPE html>

{% extends 'base/layout.jinja2' %}

{% block content %}
<div class="container-fluid">
    {% for row in rows %} {# Each item corresponds to all stories horizontally across the page #}
    <div class="row">
        {% for col in row.columns %}
        <div class="col col-md-6 col-lg-4 col-xl-3">
            <div class="container-fluid">
                {% for cell in col.cells %}
                    {% if cell.element_type == 'CalendarSnippet' %}
                        {% set calendar = cell.element %}
                        {% include 'main/snippet_calendar.jinja2' %}
                    {% endif %}
                    {% if cell.element_type == 'StorySnippet' %}
                        {% set story = cell.element %}
                        {% include 'main/snippet_story.jinja2' %}
                    {% endif %}
                    {% if cell.element_type == 'FullStory' %}
                        {% set story = cell.element %}
                        {% include 'main/full_story.jinja2' %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
