<!DOCTYPE html>

{% extends 'base/layout.html' %}

{% block content %}
    {% for item1 in snips %}        {# Each item corresponds to all stories horizontally across the page  #}
        <section class="is-mobile">
            <div class="container columns">
                {% for item2 in item1 %}     {# Each item corresponds to all stories vertically in a cell #}
                    <div class="column {{ item2.story['width-class'] }}">
                        <div class="title is-4">{{ item2.story['title'] | safe }}</div>
                        <figure>
                            <img class="is-link"
                                    {% set file = item2.story['photo_url'] %}
                                 src="{{ url_for('main.static', filename=file) }}"
                                 width="{{ item2.story['photo_shape'][0] }}"
                                 height="{{ item2.story['photo_shape'][1] }}"
                                 align="{{ item2.story['photo_align'] }}">
                            <figcaption>{{ item2.story['photo_caption'] }}</figcaption>
                        </figure>
                        <div class="message-body">{{ item2.story['snip'] | safe }}</div>
                        {% with button_type=item2.story['button_type'], target=item2.story['target'],
                                text_content=item2.story['text_content'],
                                extra_styling=item2.story['extra_styling'] %}
                            {% include 'base/button.html' %}
                        {% endwith %}
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endfor %}
{% endblock %}
