{% if story.title %}
    <h3 class="card-title">{{ story.title | safe }}</h3>
{% endif %}
<div class="card-body" style="">
    <div class="card-img-top" style="max-width:{{ story.photo.width }}px; float:{{ story.photo.alignment }}; ">
        {% set photo = story.photo %}
            {% include 'base/picture.jinja2' %}

    {{ story.snippet| safe }}</div>
</div>
{% with button=story.read_more %}
    {% include 'base/button.jinja2' %}
{% endwith %}

