{% if story.title %}
    <div class="title text-center text-wrap">{{ story.title | safe }}</div>
{% endif %}
<div class="{{ story.photo.alignment }}" style="max-width:{{ story.photo.width }}px;">
    {% set photo = story.photo %}
    {% include 'base/picture.jinja2' %}
</div>
<div class="message-body text-wrap">{{ story.snippet| safe }}</div>
{% with button=story.read_more %}
    {% include 'base/button.jinja2' %}
{% endwith %}
