{% if story.title %}
    <div class="title">{{ story.title | safe }}</div>
{% endif %}
{#<div style="max-width:{{ story.photo.width }}px; float:{{ story.photo.alignment }}">#}
<div>
    {% set slideshow = story.slides %}
    {% include 'base/slideshow.jinja2' %}
</div>
