{% if story.title %}
    <div class="title text-wrap">{{ story.title | safe }}</div>
{% endif %}
{#<div style="max-width:{{ story.photo.width }}px; float:{{ story.photo.alignment }}">#}
<div class="SNIPPET_slideshow">
    {% with %}
        {% set slideshow = story.slides %}
        {% include 'base/slideshow.jinja2' %}
    {% endwith %}
</div>
