<div class="title">Upcoming Events</div>
<div>
    {% for event in calendar.events %}
        <div class="mt-3">
            <p class="h6">{{ event.name }}</p>
            <p class="my-0">{{ event.date }} {{ event.time }}</p>
            <p class="my-0">{{ event.venue }}</p>
        </div>
    {% endfor %}
</div>