<!DOCTYPE html>
<!--
     Route: '/main/page/<string:page_ident>' => build_page
     Template: specific_page.jinja2
     Form:
     Processor: build_page.py
-->
{% extends 'base/layout.jinja2' %}

{% block content %}
<section class="container">
    <div class="columns">
        <div ct="specific_page" class="">
{#            <div class="title">{{ story['title'] | safe }}</div>#}
            <div class="message-body">{{ story['body'] | safe }}</div>
        </div>
    </div>
</section>
{% endblock %}
