<div class="slideshow">
    {% for key, item in photo_list.items() %}
        <div class="imagecaption mySlides">
            <figure>
                <figcaption class="{{ item['title_styling'] }}">{{ item['photo_title'] }}</figcaption>
                <img class="{{ item['photo_styling'] }}"
                     src="{{ item['target'] }}"
                     align="{{ item['photo_position'] }}"
                     height="{{ item['photo_height'] }}"
                     width="{{ item['photo_width'] }}"
                     alt="{{ item['alt_text'] }}"/>
                <figcaption class="{{ item['caption_styling'] }}">{{ item['caption'] }}</figcaption>
            </figure>
        </div>
    {% endfor %}
</div>
