
    <form class="button" method="{{ button.method }}" action="{{ button.action }}">
        <input type="hidden" name="row_id"  value="{{ button.row_id }}">
        <input type="hidden" name="table"  value="{{ button.table }}">
        <input type="submit" value="{{ button.function }}">
    </form>

