<a type="button" class="btn btn-primary {{ button.button_type }}"

        {% if button.extra_styling %}
                style="{{ button.extra_styling }}"
        {% endif %}
   href="{{ button.target }}">{{ button.text_content }}</a>

