<!DOCTYPE html>
<!-- template entry for representing a form element
    parameters:  element class: el_class
                 element name:  el_name
                 element placeholder: el_placeholder  (optional)
    !!!! NOTE: el_class is not being expanded.  Need to determine what is being passed (enabling messes up form)
-->

<div class="el_class container pt-3 border border-dark w-50">
    {% if el_name.render_kw['docs'] %}
        {% for comment in el_name.render_kw['docs'] %}
            <p class="font-weight-bolder small">{{ comment }}</p>
        {% endfor %}
    {% endif %}
    {{ el_name.label }}
    {% if el_placeholder %}
        {{ el_name(placeholder=el_placeholder) }}
    {% else %}
        {{ el_name }}
    {% endif %}
    {% if el_name.errors %}
        <ul class="errors">
            {% for error in el_name.errors %}
                <li>{{ error }}</li>{% endfor %}
        </ul>
    {% endif %}
</div>