<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="opacity: 100%">
    <a class="navbar-brand" href="#">Sunnyside Times</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% set nb_color = 'has-text-white' %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-item {{ nb_color }}" href="{{ url_for('main.sst_main') }}">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="navbar-item {{ nb_color }}" href="{{ url_for('main.sst_main_calendar') }}">
                    Calendar
                </a>
            </li>
            <li class="nav-item">
                <a class="navbar-item {{ nb_color }}"
                   href="{{ url_for('main.sst_get_menu_page', page='cool-stories-index') }}">
                    Cool Stories
                </a>
            </li>
            <li class="nav-item">
                <a class="navbar-item {{ nb_color }}"
                   href="{{ url_for('main.sst_get_menu_page', page='activities-index') }}">
                    Activities
                </a>
            </li>
            <li class="nav-item">
                <a class="navbar-item {{ nb_color }}"
                   href="{{ url_for('main.sst_get_menu_page', page='resources-index') }}">
                    Resources
                </a>
            </li>
            <li class="nav-item">
                <a class="navbar-item {{ nb_color }}"
                   href="{{ url_for('main.sst_get_menu_page', page='administration-index') }}">
                    Admin
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {{ nb_color }}" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Site Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('admin_bp.make_admin_report') }}">
                        Report an Issue
                    </a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item" href="{{ url_for('admin_bp.manage_page_data') }}">
                        Review Pages and Photos
                    </a>
                    <a class="dropdown-item" href="{{ url_for('admin_bp.sst_import_page') }}">
                        Import MS Word Page
                    </a>
                    <a class="dropdown-item" href="{{ url_for('photo_bp.upload_photos') }}">
                        Upload New Photos
                    </a>
                    <a class="dropdown-item" href="{{ url_for('photo_bp.manage_photos') }}">
                        Manage Existing Photos
                    </a>
                    <hr class="dropdown-divider">

                    <a class="dropdown-item" href="{{ url_for('admin_bp.sst_admin_calendar') }}">
                        Manage Calendar
                    </a>
                    <a class="dropdown-item" href="{{ url_for('admin_bp.make_story_json_template') }}">
                        Manage Templates (in TOML or JSON format)
                    </a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item" href="{{ url_for('admin_bp.manage_index_page') }}">
                        Manage Index Page
                    </a>
                    <a class="dropdown-item" href="{{ url_for('admin_bp.sst_admin_edit') }}">
                        Edit DB Page
                    </a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item" href="{{ url_for('admin_bp.sst_miscellaneous') }}">
                        Miscellaneous Functions
                    </a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {{ nb_color }}" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    System Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="navbar-item" href="{{ url_for('sysadmin_bp.manage_system_config') }}">
                        Manage System Configuration Items
                    </a>
                    <a class="navbar-item" href="{{ url_for('sysadmin_bp.manage_groups') }}">
                        Manage Groups
                    </a>
                    <a class="navbar-item" href="{{ url_for('admin_bp.sst_admin_calendar') }}">
                        Manage Calendar
                    </a>
                    <a class="navbar-item" href="{{ url_for('sysadmin_bp.manage_users') }}">
                        Manage Users
                    </a>
                    <a class="navbar-item" href="{{ url_for('sysadmin_bp.sst_login') }}">
                        SsT Login
                    </a>
                    <a class="navbar-item" href="{{ url_for('sysadmin_bp.manage_files') }}">
                        Manage Files
                    </a>
                    <a class="navbar-item" href="{{ url_for('sysadmin_bp.sst_cloud') }}">
                        Manage Google Drive
                    </a>
                    <a class="navbar-item" href="{{ url_for('sysadmin_bp.manage_graphs') }}">
                        Manage Graphs
                    </a>
                    <a class="dropdown-item" href="{{ url_for('sysadmin_bp.sst_import_database') }}">
                        Manage Import from Existing SsT Wordpress Database
                    </a>
                </div>
            </li>

            <li class="nav-item">
                <a class="navbar-item {{ nb_color }}"
                   href="{{ url_for('main.sst_test_grid') }}">
                    Grid
                </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
        </form>
    </div>
</nav>
