<div class="{{ photo.css_class }}">
    <figure>
        {%  if photo.title %}
            <figcaption class="{{ photo.title_class }}">{{ photo.title }}</figcaption>
        {% endif %}
        <img class="{{ photo.image_class }}"
             src="{{ photo.url }}?h={{ photo.height }}&w={{ photo.width }}"
             align="{{ photo.alignment }}"
             height="{{ photo.height }}"
             width="{{ photo.width }}"
             alt="{{ photo.alt_text }}"/>
        <figcaption class="{{ photo.caption_class }}">{{ photo.caption }}</figcaption>
    </figure>
</div>
