<!-- Class devBorder and friends is in file 'mystyles.css' - comment in/out to toggle -->
<container class="devBorder container-fluid" {{ float_dir }}>
    <div class="row">
        <div class="col">
            <div class="devBorder2" style="max-width: {{ slideshow.width }}px;
                    {% if slideshow.height %}
                        min-height: {{ slideshow.height }}px;
                    {% endif %}
                    {% if slideshow.background %}
                        background-color: slideshow.background;
                    {% endif %}">
                {% if slideshow.title and slideshow.title != 'NO NAME' %}
                    <figcaption class="{{ slideshow.title_class }}">{{ slideshow.title }}</figcaption>
                {% endif %}
                <div class="slideshow" interval="{{ slideshow.rotation }}">
                    {% for photo in slideshow.pictures %}
                        {% include 'base/picture.jinja2' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</container>
