{#<!-- Class devBorder and friends is in file 'mystyles.css' - comment in/out to toggle -->#}
{% if True %}
    <container class="SLIDESHOW devborder container-fluid" {{ float_dir }}>
        <div class="row">
            <div class="col">
                <div class="SLIDESHOW2 devBorder2 container-fluid" style="max-width: {{ slideshow.width }}px;
                        {% if slideshow.height %}
                            max-height: {{ slideshow.height }}px;
                        {% endif %}
                        {% if slideshow.background %}
                            background-color: {{ slideshow.background }};
                        {% endif %}">
                    {% if slideshow.title and slideshow.title != 'NO NAME' %}
                        <figcaption class="{{ slideshow.title_class }}">{{ slideshow.title }}</figcaption>
                    {% endif %}
                    <div class="SLIDESHOW3 slideshow" interval="{{ slideshow.rotation }}" style="alignment: center">
                        {% for photo in slideshow.pictures %}
                            {% include 'base/picture.jinja2' %}
                        {% endfor %}
                    </div>
                    {% if slideshow.caption %}
                        <figcaption class="figure-caption has-text-black">{{ slideshow.caption }}</figcaption>
                    {% endif %}
                </div>
            </div>
        </div>
    </container>
{% endif %}
