{% set snip = story.sign_snippet %}
<div class="border rounded-sm border-dark text-center mx-auto m-2 p-2 bg-dark text-light"
     style="min-height:{{ snip.height }}px;">
    {% if story.title %}
        <div class="title">{{ story.title }} </div>
    {% endif %}
    <div class="" style="{{ snip.styling }};">{{ story.content }}</div>
</div>