<!DOCTYPE html>
<!--
     Route: 'photo/manage_photos' => manage_photos
     Template: photo/manage_photos.jinja2
     Form: photo/manage_photos_form.py
     Processor: photo/manage_photos.py
-->
{% extends 'base/layout.jinja2' %}

{% block content %}
    <section class="container">
        <div class="columns">
            <form action="{{ url_for('photo_bp.manage_photos') }}" method="post" enctype="multipart/form-data">
                {% with %}
                    {% set el_name=form.work_function %}
                    {% set el_class="input" %}
                    {% set el_placeholder="0000" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.folder %}
                    {% set el_class="input" %}
                    {% set el_placeholder="Name" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.early_date %}
                    {% set el_class="input" %}
                    {% set el_placeholder="date" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.latest_date %}
                    {% set el_class="input" %}
                    {% set el_placeholder="date" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.download_filename %}
                    {% set el_class="input" %}
                    {% set el_placeholder="date" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                <div class="button">
                    <input id="submit" type="submit" value="Submit">
                </div>
                {% if form.errors %}
                    <ul class="errors">
                        {% for error, val in form.errors.items() %}
                            {% if val is iterable and val is string %}
                                <li>{{ error }} : {{ val }}</li>
                            {% else %}
                                {% for val_el in val %}
                                    <li>{{ error }} : {{ val_el }}</li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ form.csrf_token }}
            </form>

        </div>
        <script>
        $ = jQuery;
        $('#js1').change(function(){
            $('.ph_tml').parent().hide();
            $('.dp').parent().hide();
            $('.df').parent().hide();
            let opt = $('#js1 option:selected').val();
            $('.' + opt).parent().show();
        });
        //# sourceURL=manage_photos.js




        </script>
    </section>
{% endblock %}