<!DOCTYPE html>
<!--
     Route: '/sysadmin/manage_system_config' => manage_system_config_commands
     Template: manage_system_config.jinja2
     Form: manage_system_configuration_form.py
     Processor: manage_system_config_commands.py
-->
{% extends 'base/layout.jinja2' %}

{% block content %}
    <section class="container">
        <div class="XXX">
            <h3 class="h3">Log In</h3>
            {#                                    Set route to handle this form immediately below here               #}
            <form action="{{ url_for('sysadmin_bp.manage_system_config') }}" method="post">
                {% with %}
                    {% set el_name=form.work_function %}
                    {% set el_class="input" %}
                    {% set el_placeholder="0000" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.template_name %}
                    {% set el_class="input" %}
                    {% set el_placeholder="template slug" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}

                {% with %}
                    {% set el_name=form.new_main_page %}
                    {% set el_class="input" %}
                    {% set el_placeholder="template slug" %}
                    {% include 'base/form_entry.jinja2' %}
                {% endwith %}



                <div class="button">
                    <input id="submit" type="submit" value="Submit">
                </div>
                {% if form.errors %}
                    <ul class="errors">
                        {% for error, val in form.errors.items() %}
                            {% if val is iterable and val is string %}
                                <li>{{ error }} : {{ val }}</li>
                            {% else %}
                                {% for val_el in val %}
                                    <li>{{ error }} : {{ val_el }}</li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ form.csrf_token }}
            </form>

        </div>
        <script>
            // Set command groups to cause showing/hiding of fields by function
            // Name a local storage variable in localStorage below.
            // Make a file name for the sourceURL to enable browser to see this code at runtime
            $ = jQuery;
            $('#js1').change(function () {
                $('.sys_main').parent().hide();
                $('.xxx').parent().hide();
                $('.xxx').parent().hide();
                $('.xxx').parent().hide();
                let opt = $('#js1 option:selected').val();
                $('.' + opt).parent().show();
                localStorage.setItem('manage_sys_config', opt);
            });
            $(document).ready(function () {
                let opt_val = localStorage.getItem('manage_sys_config');
                $('#js1').trigger('change');
                if (opt_val) {
                    $('#js1 option:selected').val(opt_val);
                } else {
                    $('#js1 option:selected').val('sys_main');
                }
            });
            //# sourceURL=manage_graphs.js
        </script>
    </section>
{% endblock %}
